*{
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    width: 100%;
}

h2,footer{
    background-color: black;
    color: white;
}

header{
    width: 100%;
    padding: 10px 0px;
    background-color: #e8e6e6;
    display: flex;
    justify-content: end;
}

nav{
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

#banner,#artigos{
    display: flex;
}

#logo,#agenda{
    width: 30%;
}

#bannerPeixe,#servicos{
    width: 70%;
}

#banner{
    width: 100% auto;
}

main{
    background-color: #e8e6e6;
}